body {
    font-family: 'Poppins';
}
/* top section */
header{
    display: flex;
    justify-content: center;
}
.top-banner{
    background-color: #161616;
    border-radius: 20px;
    display: flex;
    width: 1321px;
    height: 646px;
}
.top-ban-des{
    width: 50%;
    margin-left: 100px;
}
.top-ban-pic{
    width: 50%;
}
.top-ban-pic img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
}
.top-ban-des a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #DD0000;
    padding: 10px 15px;
}
h1{
    color: white;
    font-size: 70px;
}
.top-p{
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
}

/* middle section  */
section{
    width: 1321px;
    margin-top: 130px;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.link-sec{
    background-color: #161616;
    margin-left: 90px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 312px;
    height: 312px;
    border-radius: 5px;
}
.clicked{
    background-color: #DD0000;
}
.link-sec a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 200px;
    height: 64px;
    margin-left: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
}
.clicked{
    background-color: #DD0000;
    color: #DD0000;
}
.transfers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 24px;
}
.transfer{
    width: 312px;
    height: 362px;
    border-radius: 13px;
    border: 2px solid #ededed;
}
.trans-info{
    margin-left: 10px;
    margin-right: 10px;
}
h3{
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 7px;
    width: 80px;
}
.all{
    display: flex;
    align-items: center;
}
.all img{
    margin-left: 10px;
}
.extra a{
    display: none;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #DD0000;
    padding: 10px;
    margin-top: 20px;
}
/* footer part  */
footer{
    background-color: #161616;
    margin-top: 60px;
}
h2{
    text-align: center;
    color: white;
    size: 40px;
    padding-top: 130px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
}
.foot{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    padding-bottom: 130px;
}
.foot-p{
    color: #B9B9B9;
    size: 16px;
}
.foot-icon{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.foot-icon a{
    color: white;
    margin-left: 10%;
}

/* second page  */

/* middle section  */


.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.match{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 0px;
    width: 315px;
    height: 245px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}
.match-vs{
    display: flex;
}
.match-vs img{
    width: 95px;
    height: 55px;
    margin: 0px 10px;    
}


/* responsive work  */

/* for mobile  */

@media screen and (max-width: 768px) {
    header{
        display: grid;
        margin: auto;
        width: 550px;
    }
    .top-banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        height: 470px;
        width: 500px;
        
    }
    .top-ban-des{
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        display: grid;
        justify-items: center;
    }
    .top-ban-pic{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .top-ban-pic img{
        width: 233px;
        height: 245px;
    }
    .top-ban-des a{
        text-decoration: none;
        color: white;
        border-radius: 5px;
        background-color: #DD0000;
        padding: 10px 15px;
    }
    h1{
        color: white;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .top-p{
        color: white;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    section{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .link-sec{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
        
    .transfers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-left: 0px;
    }
    .foot{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        }
        /* matches part  */

        .matches{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            margin-left: 0px;
         }
}

/* for tab  */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    header{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 800px;
    }
    .top-banner{
        display: flex;
        height: 398px;
        width: 734px;
        margin-left: 0px;
        margin-right: 0px;
        align-content: center;
    }
    .top-ban-des{
        width: 50%;
        margin-top: 20px;
        margin-left: 50px;
    }
    .top-ban-pic{
        width: 50%;
    }
    .top-ban-pic img{
        width: 323px;
        height: 360px;
    }
    .top-ban-des a{
        text-decoration: none;
        color: white;
        border-radius: 5px;
        background-color: #DD0000;
        padding: 10px 15px;
    }
    h1{
        color: white;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .top-p{
        color: white;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    section{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .link-sec{
        background-color: #ffffff;
        display: flex;
        justify-items: center;
        align-items: center;
        height: 100px;
        width: 600px;
        border-radius: 5px;
    }
    .link-sec a{
        border: 1px solid rgb(198, 198, 198);
        width: 150px;
        height: 50px;
    }
    .transfers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left: 0px;
        margin-top: 50px;
    }
    .extra a{
        display: flex;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        background-color: #DD0000;
        padding: 10px 30px;
        margin-top: 20px;
    }

    .foot{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }
    /* matches part  */
    .matches{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left: 0px;
        margin-top: 50px;
    }
}


